body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    background-color: rgba(246, 247, 248, 1);
}





section {
    margin-top: 130px;
    margin-left: 348px;
    padding-bottom: 60px;
    width: 75%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 61px;
}

.title span {
    display: flex;
    gap: 32px;
}

.searchbar {
    display: flex;
    border: solid;
    display: flex;
    border-color: rgba(168, 168, 168, 1);
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
}

.title span input {
    background: none;
    border: none;
    font-size: 20px;
    padding-block: 0;
    padding-inline: 0;
    padding: 0;
}

input:focus-visible {
    outline: none;
}

::-webkit-input-placeholder {
    color: rgba(209, 209, 209, 1);
}

.searchbar div {
    width: 1px;
    height: 31px;
    background-color: rgba(209, 209, 209, 1);
    margin-right: 10px;
}

.search-btn {
    background: none;
    display: flex;
    align-items: center;
    border: none;
    margin: 0;
    margin-right: 10px;
    border-radius: 50%;
    margin-left: 10px;
    transition: all 0.1s;
}

.search-btn:hover {
    cursor: pointer;
    background-color: rgba(217, 217, 217, 1);
    scale: 1.05;
}

.title span button img {
    width: 18px;
}

.add-task-btn {
    background-color: rgba(42, 54, 71, 1);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    font-weight: bold;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.add-task-btn:hover {
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
    -webkit-box-shadow: 0 6px 6px -6px #222;
    -moz-box-shadow: 0 6px 6px -6px #222;
    box-shadow: 0 6px 6px -6px #222;
}

article {
    width: 100%;
    display: flex;
    gap: 50px;
}

figure {
    margin: 0;
    max-width: 300px;
}

.category {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.category button {
    background: none;
    border: none;
    padding: 0;
}

.category button:hover {
    cursor: pointer;
    filter: brightness(3);
}

h3 {
    font-size: 20px;
    color: rgba(66, 82, 110, 1);
}

.category img {
    width: 24px;
    height: 24px;
}

.no-task {
    color: rgba(168, 168, 168, 1);
    background-color: rgba(231, 231, 231, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
}


.task-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    border: none;
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    padding: 20px;
    gap: 24px;
}

h4 {
    font-size: 16px;
    color: white;
    font-weight: 400;
    background-color: rgba(0, 56, 255, 1);
    width: 115px;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 5px;
    border-radius: 8px;
}

.task-card strong {
    font-size: 16px;
    text-align: start;
    color: black;
}

.task-card p {
    margin: 0;
    font-size: 16px;
    color: rgba(168, 168, 168, 1);
    text-align: start;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.progress-bar {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-bar progress {
    border: none;
    height: 8px;
    width: 60%;
}

.progress-bar progress::-webkit-progress-bar {
    background-color: rgba(244, 244, 244, 1);
    border-radius: 8px;
}

.progress-bar progress::-webkit-progress-value {
    background-color: rgba(69, 137, 255, 1);
    border-radius: 8px;
}

.user-prio {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.user-prio span {
    display: flex;
}

.user-prio span div {
    font-size: 16px;
    background-color: rgba(255, 122, 0, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 32px;
    height: 32px;
    border: solid;
    border-width: 1px;
}

.margin-left {
    margin-left: -10px;
    background-color: rgba(31, 215, 193, 1) !important;
}

.task-card img {
    block-size: 8px;
}

.task-card:hover {
    cursor: pointer;
}