body {
	background-color: #f6f7f8;
	text-wrap: balance;
}

h1 {
	font-size: 61px;
	font-weight: 700;
	margin-bottom: 21px;
}

h2 {
	font-size: 27px;
	font-weight: 700;
	margin: 0;
}

p {
	font-size: 16px;
	font-weight: 400;
	text-wrap: wrap;
	margin-bottom: 24px;
}

ul {
	margin-top: 0;
}

.textWrapper {
	margin-left: 232px;
	margin-top: 96px;
	margin-right: 32px;
	padding: 26px 32px 26px 32px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.brandName {
	color: #29abe2;
}
