.loginBody {
	width: 100%;
	height: 100dvh;
	margin: 0;
}

.loginHeader {
	background-color: #f6f7f8;
	padding: 20px;
	text-align: center;
	position: fixed;
	top: 0;
	padding: 40px;
	width: 100%;
	height: 120px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.loginHeader img {
	width: 100px;
	height: 120px;
	object-fit: cover;
}

.loginHeader p {
	font-size: 20px;
	font-weight: 400;
	color: #2a3647;
	gap: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginHeader button {
	width: 90px;
	height: 50px;
	background-color: #2a3647;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	font-style: bold;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px;
	text-align: center;
}

.footerLinks {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
}

#mainContent {
	width: 100vw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginFormWrapper {
	width: 650px;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	border-radius: 30px;
	padding: 30px;
}

#loginForm {
	width: 652px;
	height: 449px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 32px;
}

#loginForm input {
	width: 422px;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.loginButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 35px;
}

#userLogin {
	width: 110px;
	height: 48px;
	background-color: #2a3647;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 21px;
	font-weight: 500;
}

#guestLogin {
	width: 177px;
	height: 48px;
	background-color: #ffffff;
	color: #2a3647;
	border: solid 1px #2a3647;
	border-radius: 8px;
	cursor: pointer;
	font-size: 21px;
	font-weight: 500;
}
