* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Inter";
	src: url("../assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
		format("truetype");
	font-weight: 100 900;
}

body {
	margin: 0;
	font-family: "Inter", sans-serif;
	display: flex;
}

.left-bar {
	width: 232px;
	height: 100dvh;
	background-color: #2a3647;
  position: fixed;

	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
}

.logo {
	margin-top: 64px;
	margin-bottom: 80px;
}

.logo-img {
	width: 100px;
}

.navbar-links {
	width: 100%;

	display: flex;
	flex-direction: column;
}

.nav-link {
	width: 100%;
	height: 56px;

	display: flex;
	align-items: center;
	gap: 16px;

	padding-left: 56px;
	box-sizing: border-box;

	color: #cdcdcd;
	text-decoration: none;
	font-family: "Inter", sans-serif;
	font-size: 16px;
}

.nav-link img {
	width: 24px;
	height: 24px;
}

.nav-link:hover,
.nav-link.active {
	background-color: #091931;
	color: white;
}

.navbar-footer {
	margin-top: auto;
	margin-bottom: 48px;

	display: flex;
	flex-direction: column;
	gap: 16px;
}

.navbar-footer a {
	color: #cdcdcd;
	text-decoration: none;
	font-family: "Inter", sans-serif;
	font-size: 14px;
}

.main-content {
	flex: 1;
	min-height: 100dvh;
  width: calc(100% - 232px);
	background-color: #f6f7f8;
}

.top-bar {
	height: 96px;
  width: calc(100% - 232px);
	background-color: white;
  position: fixed;
	top: 0;
  left: 232px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 40px 0 80px;
	box-sizing: border-box;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.top-bar p {
	margin: 0;
	font-size: 20px;
	color: #000000;
}

.top-bar-right {
	display: flex;
	align-items: center;
	gap: 20px;
}

.help-icon {
	width: 20px;
	height: 20px;
}

.user-circle {
	width: 48px;
	height: 48px;
	border: 3px solid #2a3647;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	color: #29abe2;
	font-weight: 700;
	font-size: 16px;
}
