<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

  <nav>
    <div class="left-bar">

      <div class="logo">
        <img class="logo-img" src="../assets/icons/logo_light.png" alt="Join Logo">
      </div>

      <div class="navbar-links">
        <a class="nav-link active" href="summary.html">
          <img src="../assets/icons/summary.svg" alt="">
          <span>Summary</span>
        </a>

        <a class="nav-link" href="../pages/tasks.html">
          <img src="../assets/icons/add_task.svg" alt="">
          <span>Add Task</span>
        </a>

        <a class="nav-link" href="board.html">
          <img src="../assets/icons/board.svg" alt="">
          <span>Board</span>
        </a>



        <a class="nav-link" href="../pages/contacts.html">

        <a class="nav-link" href="contacts.html">
          <img src="../assets/icons/contacts.svg" alt="">
          <span>Contacts</span>
        </a>
      </div>

      <div class="navbar-footer">
        <a href="privacy.html">Privacy Policy</a>
        <a href="legals.html">Legal Notice</a>
      </div>

    </div>
  </nav>


  <header class="top-bar">
    <p>Kanban Project Management Tool</p>

    <div class="top-bar-right">
      <a href="help.html">
        <img class="help-icon" src="../assets/icons/help.svg" alt="Help">
      </a>
      <div class="user-circle">SM</div>
    </div>
  </header>
  <main class="main-content">
  </main>

</body>
<script>
  const navLinks = document.querySelectorAll(".nav-link");

  navLinks.forEach((link) => {
    link.addEventListener("click", () => {
      navLinks.forEach((item) => item.classList.remove("active"));
      link.classList.add("active");
    });
  });
</script>
<script type="module" src="../scripts/main.js"></script>

</html>